In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import collections

In [25]:
data=pd.read_csv('../Zomato-API/Dataset/zomato.csv',encoding='latin-1')
data2=data.copy()

In [26]:
data2.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

In [27]:
#Data Cleaning 
data2['City'] = data2['City'].str.replace('Gurgaon','Delhi-NCR')
data2['City'] = data2['City'].str.replace('Noida','Delhi-NCR')
data2['City'] = data2['City'].str.replace('Faridabad','Delhi-NCR')
data2['City'] = data2['City'].str.replace('New Delhi','Delhi-NCR')
data2['City'] = data2['City'].str.replace('Ghaziabad','Delhi-NCR')

In [28]:
#Setting the country code to India and making new dataframe accordingly
Indian_country_code=1
new=data2[data2['Country Code']==Indian_country_code]

In [29]:
## new dataframe will have restaurants only in india
new.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
624,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",...,Indian Rupees(Rs.),No,No,No,No,3,3.9,Yellow,Good,140
625,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",...,Indian Rupees(Rs.),No,No,No,No,2,3.5,Yellow,Good,71
626,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,Indian Rupees(Rs.),No,No,No,No,2,3.6,Yellow,Good,94

In [30]:
dfd=new[new.City=='Delhi-NCR']
dfr=new[new.City!='Delhi-NCR']

In [31]:
#dfd.Cuisines.nunique()
#dfr.Cuisines.nunique()
def Dictionary(array):
    dictionary={}
    for i in array:
        if ',' not in i:
            if i.strip() in dictionary:
                dictionary[i.strip()]=dictionary.get(i.strip())+1
            else:
                dictionary[i.strip()]=1   
        else:
            string=i.strip().split(',')
            for j in string:
                if j.strip() in dictionary:
                    dictionary[j.strip()]=dictionary.get(j.strip())+1
                else:
                    dictionary[j.strip()]=1
    return dictionary

In [32]:
#dic has Cuisines in Delhi NCR with their count
dic=Dictionary(dfd['Cuisines'])
dfr.Cuisines.fillna('Not Known',inplace=True)
#dic2 has cuisines in all of India with their count
dic2=Dictionary(dfr['Cuisines'])

/Users/vaibhavsinghmakhloga/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [44]:
dic2

{'North Indian': 349,
 'Mughlai': 59,
 'Rajasthani': 6,
 'Chinese': 242,
 'European': 32,
 'Gujarati': 3,
 'Continental': 177,
 'South Indian': 62,
 'Desserts': 55,
 'Cafe': 136,
 'Italian': 147,
 'Mexican': 50,
 'Pizza': 31,
 'Fast Food': 97,
 'Mediterranean': 30,
 'Thai': 29,
 'Ice Cream': 6,
 'Beverages': 12,
 'Asian': 35,
 'Street Food': 16,
 'Sandwich': 1,
 'Burger': 13,
 'Healthy Food': 3,
 'American': 32,
 'Armenian': 1,
 'Salad': 3,
 'Bakery': 29,
 'Mithai': 1,
 'Biryani': 15,
 'Juices': 3,
 'Maharashtrian': 4,
 'Hyderabadi': 2,
 'Modern Indian': 7,
 'Finger Food': 17,
 'Tex-Mex': 7,
 'Arabian': 5,
 'Charcoal Grill': 3,
 'Steak': 1,
 'Seafood': 28,
 'Tea': 6,
 'Japanese': 7,
 'Malaysian': 3,
 'Burmese': 4,
 'Chettinad': 3,
 'Spanish': 2,
 'Greek': 3,
 'Indian': 2,
 'Parsi': 1,
 'Tibetan': 3,
 'French': 6,
 'Goan': 13,
 'German': 2,
 'Andhra': 7,
 'Bengali': 2,
 'Awadhi': 1,
 'Lebanese': 8,
 'Kerala': 7,
 'Middle Eastern': 2,
 'Lucknowi': 1,
 'Portuguese': 1,
 'African': 1,
 'Mangalorean': 3,
 'British': 1,
 'Malwani': 1,
 'Vietnamese': 2,
 'Korean': 1,
 'Indonesian': 2,
 'North Eastern': 1,
 'BBQ': 1,
 'Cajun': 1}

In [38]:

for key in dic2.keys():
    if key not in dic.keys():
        print(key)

German
Malwani
BBQ
Cajun

These above are the Cuisines which are served in Rest of India but not in Delhi-NCR.